:root {
    background-color: rgb(0, 0, 0);
    color: white;
}

.base {

    display: flex;
    flex-direction: column;
}

.keys {

    border: 2px solid black;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 5px;
    min-width: 20px;
    min-height: 40px;
}


.num>button {
    color: white;
    background-color: rgb(66, 65, 65);
    text-align: center;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

.op>button {
    color: white;
    background-color: rgb(228, 146, 24);
    text-align: center;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    border-radius: .4rem;
}

.num>button:hover {
    background-color: rgb(145, 145, 145);
}
.op>button:hover
{
    background-color: rgba(218, 144, 32, 0.61);
}
#eq {
    background-color: rgb(48, 122, 233);
}

#eq:hover {
    background-color: rgb(114, 152, 209);
}

.currentNum {
    text-align: right;
    font-size: 50;
    margin: 0;
}

.expression {
    text-align: right;
    padding-right: 15px;
}

.calarea {
    padding-right: 10px;
}
